{% macro local_command(command, package) %}
{% if command.startswith('lintian-brush') %}
<p>Try this locally (using the <a href="https://packages.debian.org/lintian-brush">lintian-brush</a> package):</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>
debcheckout {{ package }}
cd {{ package }}
{{ command }}
</pre>
</div>
</div>
{% elif command.startswith('apply-multiarch-hints') %}
<p>Try this locally (using the <a href="https://packages.debian.org/lintian-brush">lintian-brush</a> package):</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>
debcheckout {{ package }}
cd {{ package }}
{{ command }}
</pre>
</div>
</div>
{% else %}
<p>Try this locally (using <a href="https://packages.debian.org/silver-platter">silver-platter</a>):</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>debian-svp {{ command }} {{ package }} </pre></div></div>
{% endif %}
{% endmacro %}

{% macro merge_command(package, branch_name, vcs) %}
{% set vcs = vcs_type() %}
{% if vcs == 'git' %}
<p>Merge these changes:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>git pull {{ vcs_manager.get_repository_url(package, 'git') }} {{ branch_name }}</pre></div></div>
{% elif vcs == 'bzr' %}
<p>Merge these changes:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>brz merge {{ vcs_manager.get_branch_url(package, branch_name, 'bzr') }}</pre></div></div>
{% else %}
<!-- Unknown vcs: {{ vcs }} -->
{% endif %}
{% endmacro %}

{% macro reschedule_button(suite, package, title="Reschedule", id='reschedule', data={}) %}
<button id="{{ id }}">{{ title }}</button>

<script>
$(function() {
  $("#{{ id }}").click(function() {
    $.post('/api/{{ suite }}/pkg/{{ package }}/schedule', {{ data|tojson }}, function(data) {
      console.log('Scheduled: ' + data.offset);
      $("#{{ id }}").replaceWith("<span>Scheduled new run at position " + data.queue_position + ".</span>");
      $('.queue-position.{{ package }}').replaceWith('<a href="/cupboard/queue">Queue</a> position: ' + data.queue_position);
      $('.queue-position.{{ package }}').attr('style', '')
    }, 'json')
    .fail(function(response) {
      $("#{{ id }}").replaceWith("<span>Failed to schedule new run: " + response.responseText + "</span>");
    });
  });
});
</script>
{% endmacro %}

{% macro schedule_control_button(run_id, title="Schedule control run", id='schedule-control', data={}) %}
<button id="{{ id }}">{{ title }}</button>

<script>
$(function() {
  $("#{{ id }}").click(function() {
    $.post('/api/run/{{ run_id }}/schedule-control', {{ data|tojson }}, function(data) {
      console.log('Scheduled: ' + data.offset);
      $("#{{ id }}").replaceWith("<span>Scheduled control run at position " + data.queue_position + ".</span>");
    }, 'json')
    .fail(function(response) {
      $("#{{ id }}").replaceWith("<span>Failed to schedule control run: " + response.responseText + "</span>");
    });
  });
});
</script>
{% endmacro %}

{% macro publish_buttons(suite, package, id_suffix='') %}
{% set propose_id="propose" + id_suffix %}
{% set fork_id="push-derived" + id_suffix  %}
{% set push_id="push" + id_suffix  %}
<button id="{{ propose_id }}">Create merge proposal</button> <button id="{{ fork_id }}">Create fork with changes</button>{% if is_admin %} <button id="{{ push_id }}">Push</button>{% endif %}

<script>
$(function() {
$("#{{ propose_id }}").click(function() {
    $.post('/api/{{ suite }}/pkg/{{ package }}/publish', {'mode': 'propose'}, function(data) {
    if (data) {
        $("#{{ propose_id }}").replaceWith("<span>Publishing merge proposal...</span>");
    }
    }, 'json')
    .fail(function(response) {
	$("#{{ propose_id }}").replaceWith("<span>Failed to publish: " + response.responseText + "</span>");
    });
  });

 $("#{{ fork_id }}").click(function() {
    $.post('/api/{{ suite }}/pkg/{{ package }}/publish', {'mode': 'push-derived'}, function(data) {
        $("#{{ fork_id }}").replaceWith("<span>Creating fork.</span>");
    }, 'json')
    .fail(function(response) {
	$("#{{ fork_id }}").replaceWith("<span>Failed: " + response.responseText + "</span>");
    });
  });

{% if is_admin %}
 $("#{{ push_id }}").click(function() {
    $.post('/api/{{ suite }}/pkg/{{ package }}/publish', {'mode': 'push'}, function(data) {
        $("#{{ push_id }}").replaceWith("<span>Pushing.</span>");
    }, 'json')
    .fail(function(response) {
	$("#{{ push_id }}").replaceWith("<span>Failed: " + response.responseText + "</span>");
    });
  });
{% endif %}
});
</script>
{% endmacro %}

{% macro install_commands(binary_packages, distribution) %}
{% if binary_packages %}
<p>The resulting binary packages can be installed (if you have the <a class="reference external" href="/{{ distribution }}">apt repository</a> enabled) by running one of:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>
{% for binary_package in binary_packages %}apt install -t {{ distribution }} {{ binary_package }}
{% endfor %}</pre></div></div>
{% endif %}
{% endmacro %}

{% macro display_result_code(result_code) %}
<span class="result-code-{{ classify_result_code(result_code) }}">{{ result_code }}</span>
{% endmacro %}

{% macro result_code_explanation(result_code, run=None) %}
{% if result_code %}
<blockquote class="result-code-explanation">
{% include ("result-codes/" + result_code + ".html") ignore missing %}
</blockquote>
{% endif %}
{% endmacro %}

{% macro display_branch_url(vcs_browse, vcs_url, vcswatch_version=None) %}
{% if vcs_browse %}
<a href="{{ vcs_browse }}">{{ vcs_url }}</a>
{% else %}
<a href="{{ vcs_url }}">{{ vcs_url }}</a>
{% endif %}
{% if vcswatch_version %}
(taken from version <b>{{ vcswatch_version }}</b>)
{% endif %}
{% endmacro %}

{% macro display_upstream_branch_url(result) %}
{% if result.get('upstream_branch_browse') %}<a href="{{ result['upstream_branch_browse'] }}">{{ result['upstream_branch_url'] }}</a>{% else %}{{ result['upstream_branch_url'] }}{% endif %}
{% endmacro %}

{% macro display_maintainer_email(maintainer_email) %}
<a class="reference external" href="mailto:{{ maintainer_email }}">{{ maintainer_email }}</a>
{% endmacro %}

{% macro display_publish_result(mode, code, description, mp_url) %}
{% if mode == 'push' %}
 {% if code == 'success' %}Successfully pushed
 {% else %}Failed to push: <span class="publish-failure">{{ code }}</span>
 {% endif %}
{% elif mode == 'propose' %}
 {% if code == 'success' %}<a href="{{ mp_url }}">Merge proposal</a> updated
 {% else %}Failed to create merge proposal: <span class="publish-failure">{{ code }}</span>
 {% endif %}
{% endif %}
({% if '\n' in description %}<pre>{{ description }}</pre>{% else %}{{ description }}{% endif %})
{% endmacro %}
